
<div style="width:100%">

	<img style=" 
		margin-left:40%;
		width:20%;
		font-size: 120px;
		margin-top: 20px;"
		src="https://avert.herokuapp.com/img/logo.png"
		>

	<div style="	
		width: 100%;
		height: 120px;
		text-align: center;"> 
		
		<p style="	margin-top: 20px;
		font-size: 15px;
		text-align: center;
		margin-bottom:50px;">
		Welcome to Avert!
		</p>

		<p style="	margin-top: 0px;
		font-size: 15px;
		text-align: center;
		margin-bottom:50px;">
			<a style="
			width:50px;
			margin-left:50%;	
			text-align: center;
			background-color: #00bf8f;
			font-weight: bold;
			color: white;
			padding: 10px;
			border-radius: 10px;
			margin:10px;
			text-decoration: none;" 

			href="{{{registrationLink}}}">Confirm account</a>
		</p>

			<hr style="width:20%;">

		<p style="font-size: 15px;
		text-align: center;">

			Link not working?
			Paste this in your browser:
			<br>
			<span>{{registrationLink}}</span>
		</p>

		<p style="font-size: 15px;
		text-align: center;">
 			AvertApp.com
		</p>

	</div>

</div>