<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Avert App</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/init.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
  </head>
  <body>


    <div class="container">

      <div id="logo" class="img-responsive">avert</div>

      <div class="row-fluid">
        <div class="col-xs-1 col-sm-4"></div>
        <div class="col-xs-10 col-sm-4 ">

            {{{signUpResult}}}

            <div class="row">
              <input class="form-control" id="emailLogin" placeholder="Email">
              <span id="emailError" class="logInMsg error"></span>
              <input class="form-control" id="passwordLogin" placeholder="Password" type="password" >
              <span id="passError" class="logInMsg error"></span>
              <span id="generalErrors" class="logInMsg error"></span>
              <span id="generalInfo" class="logInMsg valid"></span>
            </div>

            <div class="buttonRow">
              <div class="col-xs-6">
                <button class="form-control" id="logInButton" {{firstTimeAttribute}}>Log in</button>  
              </div>
              <div class="col-xs-6">
                <button class="form-control" id="signUpButton">Sign up</button>    
              </div>
            </div>

            <div class="rememberPassRow">
              <div class="col-xs-12"><br></div>
              <div class="col-xs-12">
                <a id="rememberPass" href="/recover">I can't remember my password</a>  
              </div>
            </div>
            
        </div>
        <div class="col-xs-1 col-sm-4"></div>
      </div>
    </div>

    <div id="avertMail">info@avertapp.com</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/initAvert.js"></script>

  </body>
</html>