<div style="width:100%">

	<img style=" 
		margin-left:40%;
		width:20%;
		font-size: 120px;
		margin-top: 20px;
		margin-bottom: 20px;"
		src="https://avert.herokuapp.com/img/logo.png"
		>

	<div style="	
		width: 100%;
		height: 120px;
		text-align: center;
		padding-top: 20px;"> 
		
		<div style="text-align: left; width:70%;margin-left:35%;margin-bottom:30px;">
			Hello,<br><br> It seems like you can't remember your password... <br> it's ok, here's a new one:
			<br>
			<br>

			<b style="margin:40px;">{{newPassword}}</b>

			<br>
			<br>
				Please, log in with this password and change it for another one easier to remember.
			<br>
			<br>
		</div>

			<hr style="width:20%;">

		<p style="font-size: 15px;
		text-align: center;">
 			AvertApp.com
		</p>

	</div>

</div>