<div style="width:100%">

	<img style=" 
		margin-left:40%;
		width:20%;
		font-size: 120px;
		margin-top: 20px;
		margin-bottom: 20px;"
		src="https://avert.herokuapp.com/img/logo.png"
		>

	<div style="	
		width: 100%;
		height: 120px;
		text-align: center;
		padding-top: 20px;"> 
		
		<div style="text-align: left; width:70%;margin-left:35%;">
			Hello,<br><br> Someone you have been with has recently found out he/she is positive.
			<br>
			<b>Please get tested just in case</b>.

			<br>
			<br>
			Thanks for your help!
			<br>
			<br>
		</div>

			<hr style="width:20%;">

		<p style="font-size: 15px;
		text-align: center;">
 			AvertApp.com
		</p>

	</div>

</div>
