@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body,html{
	font-family: 'Poiret One', cursive;
	padding:0;
	margin: 0;
	color:black;
	width:100%;
	height:100%;
	overflow: hidden;
	background: #00bf8f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #00bf8f , #001510); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #00bf8f , #001510); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#infoMessage{
	font-size: 150%;
	font-weight: bold;
	margin:auto;
	text-align: center;
}
.valid{color: #33d21a;}

.error{
	color: #f54141;
    font-size: 20px;
}

.errorRecover{
	color: #f54141;
    font-size: 20px;
    position: absolute;
    top:-10px;
}

#messageRecoverPassword{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

.logInMsg{
	font-weight: bold;
	margin-left:auto;
	text-align: center;
}

#logo{
	font-size: 700%;
	font-family: 'Poiret One', cursive;
	text-align: center;
	color: #fff;/*rgb(84,122,187)*/
}

#formLogin{
    margin-top:50%;
}
#formLogin .row{
    margin:20px 0px;
}

.buttonRow{
    padding:20px 0px;
}

#formLogin input{
    margin:20px 0px;
}

#rememberPass{
	color:white ;
	text-decoration: none; 
}
#rememberPass:hover{
	font-weight: bold;
}

#avertMail{
	color:white;
	position:absolute;
	bottom:50px;
	left:45%;
}

input{
	margin-top: 20px;
	margin-bottom: 20px;
} 

iframe{
	margin-left:auto;
	margin-right:auto;
}

/*Video*/
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
		iframe{
			width: 250;
			height: 200;
	 	}
        #logo{
        	margin-top:15%;
        	font-size: 850%;
        }
    }
    @media only screen and (min-width : 360px) {
		iframe{
			width: 300;
			height: 240;
	 	}
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		iframe{
			width: 300;
			height: 240;
	 	}
    }
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		iframe{
			width: 300;
			height: 240;
	 	}
    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		iframe{
			width: 300;
			height: 240;
	 	}
    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		iframe{
			width: 300;
			height: 240;
	 	}
    }
