@import url(https://fonts.googleapis.com/css?family=Poiret+One);

#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}

.invisible{
    visibility: hidden;
}

#QR img{
	margin: auto;
	padding-bottom: 20px;
}


/*Video*/
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
		#QR img{
			width: 75%;
            padding-bottom: 25px;
            padding-top: 25px;
	 	}
        hr {display: none}
        .navbar-collapse a{
            background-color: rgba(255,255,255,0.1)!important;
            margin-top: 3px; 
            margin-bottom: 3px;
            color: white;
        }

        #settingsMenu input{
            margin-bottom: 5px;
            height:30px !important;
        }
    }
    @media only screen and (min-width : 360px) {
		#QR img{
			width: 85%;
            padding-bottom: 25px;
            padding-top: 25px;
	 	}
        #settingsMenu input{
            margin-bottom: 5px;
            height:35px !important;
        }
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		#QR img{
			width: 65%;
            padding-top: 10%;
	 	}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		#QR img{
			width: 80%;
            padding-bottom: 60px;
            padding-top: 20%;
	 	}
        .navbar-collapse a{
            background-color: rgba(255,255,255,0)!important;
            margin-top: 3px; 
            margin-bottom: 3px;
            color: white;
        }
        nav{
            background-color: rgba(0,49,60,0.5)!important;
        }
    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		#QR img{
			width: 60%;
            padding-top: 20%;
	 	}
    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		#QR img{
			width: 45%;
            padding-top: 20%;
	 	}

    }


.hiddenMenu
{
   display: none
}

.container-fluid, .content {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body,html{
    font-family: 'Poiret One', cursive;
    
	padding:0;
	margin: 0;
	color:black;

    background: #abbaab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
	width:100%;
	height:100%;
	overflow: hidden;
}


label{
	font-size:20px;
    color:rgba(0,49,60,1);
}

h1{
	font-size:30px;
	margin: 0px auto 0px auto;
}

.navbar-brand{
    color: white;
    font-weight: bolder !important;
    font-size: 30px;
}

.navbar{
    font-size: 20px;
    color:white;
    font-family: 'Poiret One', cursive;
    background-color: rgb(0,125,93)!important;
}

.navbar span{
    background-color:white;
}

.mainCol{
	padding-bottom: 100%;
	margin-top: -10%;
	margin-bottom: -50%;
	background-color: #FFF;
	height: auto;
	padding-left: 2%; 
	padding-right: 2%;
}

.sideCol{
}

#QR{
	margin: 80px auto 0px auto;
    height: auto;
    display: relative
}

button{
    color:#FFF !important;
    background-color: rgb(0,125,93) !important;
    font-weight: bold !important;
}

.menu{
  padding: 0px 5%;
  margin-top: -3%;
}

#uploadQR{
  margin: 10px auto;
}

#downloadQR{
  margin: 10px auto;
}

#scanQR{
  margin: 10px auto;
}

#scanQR button{
	width:40%;
	height:15%;
}

label.fileUpload input[type="file"] {
    position: fixed;
    top: -1000px;
}

#changePassButton, #changePassLabel{
    margin-top:10px;
    margin-bottom:10px;
}

/***** Example custom styling *****/
.fileUpload {
	text-align: center;
	width:60%;
	height:20%;
	color:#FFF;
    background-color: rgb(0,125,93);
    
    border-color: darkgrey;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
}
.fileUpload:hover {
    background: #ddd;
    border-color: darkgrey;
}

#fileUploadText{
	font-size: 250%;
	position: relative;
	top: 25%;
}



/*Animation*/

.bubblingG {
    text-align: center;
    width:78px;
    height:49px;
    margin: auto;

    position: relative;
    top:35%;
    z-index: 1500;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 24px auto;
    background: rgb(0,0,0);
    border-radius: 49px;
        -o-border-radius: 49px;
        -ms-border-radius: 49px;
        -webkit-border-radius: 49px;
        -moz-border-radius: 49px;
    animation: bubblingG 1.5s infinite alternate;
        -o-animation: bubblingG 1.5s infinite alternate;
        -ms-animation: bubblingG 1.5s infinite alternate;
        -webkit-animation: bubblingG 1.5s infinite alternate;
        -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
    animation-delay: 0s;
        -o-animation-delay: 0s;
        -ms-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
}



@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        transform: translateY(-20px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -o-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -ms-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -webkit-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        -moz-transform: translateY(0);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        -moz-transform: translateY(-20px);
    }
}
